body{
    font-family: 'Bebas Neue', cursive;
}
header{
    background-color: #FFFFF4;
    height: 670px;
}
.header-area h1{
    font-size: 80px;
    margin: 0;
    padding: 0;
}
.header-area p{
    margin-top: 2em;

}
.header-area img, .services img{
    max-width: 100%;
}
.cl-earthy{
    color: #bc986a;
}
.cl-sky-blue{
    color: #659dbd;
}
.btn-earthy{
    background-color: #bc986a;
    color: white;
}

.bp-card{
    border: 0;
    border-radius: 20px;
}
.bp-footer{
    background-color: white;
    border: 0;
}
.bp-card img{
    padding: 2em;
}
.subscribe-area{
    background-color: #FFFFF4;
    padding: 60px;
    height: 300px;
}
.subscribe-area div{
    text-align: center;
}
.subscription-form{
    width: 90%;
    margin: auto;
}
.subscription-form div{
    padding: 0;
    margin: 0;
}
.subscription-form input,.subscription-form button{
    height: 40px;
    width: 100%;
}
.subscription-form input{
    border-radius: 5px 0px 0 5px;
}
.subscription-form button{
    border-radius: 0 5px 5px 0;
}
@media only screen and (max-width: 768px){
    main{
        padding-top: 8em;
    }
    .bp-card{
        text-align: center;
    }
    .services{
        margin-top: 4em;
    }
    .services img{
        margin-top: eem;
    }
    .subscription-form input{
        border-radius: 5px 5px 0 0;
    }
    .subscription-form button{
        border-radius: 0 0 5px 5px;
    }
}