body{
    font-family: 'Bebas Neue', cursive;
}
header{
    background-color: #FFFFF4;
    height: 715px;
}
main{
    padding-top: 4em;
}

.header-area h1{
    font-size: 80px;
    margin: 0;
    padding: 0;
}
.header-area p{
    margin-top: 2em;

}
.services img{
    width: 94%;
}
.cl-dark-blue{
    color: #363958;
}
.cl-light-green{
    color: #76C27E;
}
.btn-dark-blue{
    background-color: #363958;
    color: white;
}
.bp-card{
    border: 0;
    border-radius: 20px;
}
.bp-footer{
    background-color: white;
    border: 0;
}

@media only screen and (max-width: 992px){
    header{
        margin-bottom: 30px;
    }
    .navbar-brand img, .services img{
        width: 100%;
    }
    .services img{
        justify-self: center;
        align-self: center;
    }
    .header-area img{
        width: 90%;
    }

}